﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Log in</title>
</head>
<body>
    <h1>Log in</h1>
    <form action="/ui/login/" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="submit" />
    </form>
    <p>{{text}}</p>
</body>
</html>
