﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/ui/registration/" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="submit" />
    </form>
</body>
</html>
