﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Task List Create</title>
</head>
<body>
    <h1>Task list Create</h1>
    <p>{{resp}}</p>
    <form action="/ui/" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="submit" />
    </form>
</body>
</html>
