﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Task List Details</title>
</head>
<body>
    <h1>Task List Details</h1>
    <p>{{list}}</p>
    <form action="{{action}}" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
